<%layout("/layout/boilerplate")%>
<style>

       #form-container {
        width: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        padding: 30px;
        background-color: #f9f9f9; /* Light grey form background */
    }

    #form-container h1 {
        margin: 0 0 20px 0;
        font-size: 24px;
        text-align: center;
        color: #007bff; /* Blue text color */
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
        color: #333;
    }

    input, textarea, button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
    }

    input:focus, textarea:focus {
        border-color: #007bff; /* Blue border on focus */
        outline: none;
    }

    textarea {
        height: 100px;
    }

    button {
        background-color: #007bff; /* Blue button */
        color: white;
        border: none;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }

</style>
<div id="form-container" style="margin: auto; margin-top: 70px; width: 750px;">
    <h1>Edit Your Mail</h1>
    <form id="email-form" action="/mail/edit/<%= email[0]._id %>?_method=PUT" method="post">
        <label for="to">To:</label>
        <input type="email" id="to" name="to" required value="<%=email[0].to%>"><br><br>
        
        <label for="subject">Subject:</label>
        <input type="text" id="subject" name="subject" required value="<%=email[0].Subject%>"><br><br>
        
        <label for="body">Body:</label>
        <textarea id="body" name="body" required value="<%=email[0].message%>"></textarea><br><br>
        
        <label for="sendingDate">Previous Date</label>
        <input type="text"  value="<%=email[0].sendingTime%>"></input><br><br>
        

        <label for="sendingDate">New Sending Date</label>
        <input type="datetime-local" id="newsendingDate" name="newsendingDate"></input><br><br>
        <button type="submit">Send Email</button>
    </form>
</div>

<script>
    document.getElementById('body').value = "<%=email[0].message%>";

</script>